//= template/_header.html
<header id="section-header">
    <div class="name">This is my site</div>
</header>
<h1>Hello world</h1>
<form action="" id="section-search">
    <input type="search">
</form>
<div class="block-catalog-items">
    <ul>
        <li><a href="#">Item 1</a></li>
        <li><a href="#">Item 2</a></li>
        <li><a href="#">Item 3</a></li>
        <li><a href="#">Item 4</a></li>
        <li><a href="#">Item 5</a></li>
        <li><a href="#">Item 6</a></li>
        <li><a href="#">Item 7</a></li>
        <li><a href="#">Item 8</a></li>
    </ul>
</div>
<footer id="section-footer">
    <div class="copyright">
        &copy;2016 - All rights resived
    </div>
</footer>
<div class="block-catalog-items">
    <ul>
        <li><a href="#">Item 1</a></li>
        <li><a href="#">Item 2</a></li>
        <li><a href="#">Item 3</a></li>
        <li><a href="#">Item 4</a></li>
        <li><a href="#">Item 5</a></li>
        <li><a href="#">Item 6</a></li>
        <li><a href="#">Item 7</a></li>
        <li><a href="#">Item 8</a></li>
    </ul>
</div>
//= template/_footer.html