.block-catalog-items{
    margin: 0 auto;
    width: 80%;
    ul {
        @extend .clearfix;
        display: block;
        list-style-type: none;
        margin-left: -25px;
        padding: 0;
        li {
            box-sizing: border-box;
            display: block;
            float: left;
            margin-bottom: 25px;
            padding-left: 25px;
            width: 25%;
            @media (max-width: 800px) {
                width: 33.33%;
            }
            @media (max-width: 500px) {
                width: 50%;
            }
            a {
                border: 1px solid #CCC;
                display: block;
                width: 100%;
            }
        }
    }
}