body,
html{
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}
body{
    font-family: "Open Sans";
    font-size: 16px;
}

.clearfix:before,
.clearfix:after{
    content: '';
    display: table;
}
.clearfix:after{
    clear: both;
    float: none;
}
h1{
    text-align: center;
}