@mixin at($min, $max) {
    @media only screen and (max-width: $max) and (min-width: $min + 1) { @content; }
}
@mixin from($min) {
    @media only screen and (min-width: $min + 1) { @content; }
}
@mixin to($max) {
    @media only screen and (max-width: $max) { @content; }
}