.fancybox__bordered {
  -webkit-border-radius: 20px;
          border-radius: 20px; }

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%; }

body {
  font-family: "Open Sans";
  font-size: 16px; }

.clearfix:before, .block-catalog-items ul:before,
.clearfix:after,
.block-catalog-items ul:after {
  content: '';
  display: table; }

.clearfix:after, .block-catalog-items ul:after {
  clear: both;
  float: none; }

h1 {
  text-align: center; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTQcuEIXEaFWBWXA4NoGd_Oo.woff) format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/RjgO7rYTmqiVp7vzi-Q5UbO3LdcAZYWl9Si6vvxL-qU.woff) format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSgcuEIXEaFWBWXA4NoGd_Oo.woff) format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzAcuEIXEaFWBWXA4NoGd_Oo.woff) format("woff"); }

#section-header {
  background: #CCC;
  padding: 30px; }
  #section-header .name {
    font-size: 2em;
    text-align: center; }
  @media only screen and (max-width: 640px) {
    #section-header {
      background: red; } }

#section-footer {
  background: #000;
  color: #FFF;
  padding: 20px; }
  #section-footer .copyright {
    font-size: 1.25em;
    text-align: right; }

.block-catalog-items {
  margin: 0 auto;
  width: 80%; }
  .block-catalog-items ul {
    display: block;
    list-style-type: none;
    margin-left: -25px;
    padding: 0; }
    .block-catalog-items ul li {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      display: block;
      float: left;
      margin-bottom: 25px;
      padding-left: 25px;
      width: 25%; }
      @media (max-width: 800px) {
        .block-catalog-items ul li {
          width: 33.33%; } }
      @media (max-width: 500px) {
        .block-catalog-items ul li {
          width: 50%; } }
      .block-catalog-items ul li a {
        border: 1px solid #CCC;
        display: block;
        width: 100%; }

input[type="search"] {
  border: 1px solid #CCC;
  display: block;
  height: auto;
  outline: none;
  padding: 15px;
  width: 100%; }
